* {
    margin: 0;
    padding: 0;
}
body{
    font-family: monospace;
}
header {
    min-height: 50px;
    background-color: rgb(0, 119, 255);
    color: white;
    padding: 30px 0px 0px 15px;
    font-size: 1.5em;
}
.main{
    min-height: 73vh;
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: center;
}
.left{
    flex:3;
    background-color: rgb(0, 255, 170);
    color: white;
    display: flex;
    align-items: center;
}
.right{
    flex: 1;
    background-color: orangered;
    color: white;
    display: flex;
    align-items: center;
    justify-content: center;
    font-size: 4em;
}
footer {
    color: white;
    font-size: 2em;
    min-height: 83px;
    background-color: aqua;
    display: flex;
    align-items: center;
    justify-content: center;
}
.content{
    background-color: rgb(0, 119, 255);;
    width: 15vw;
    height: 23vh;
    display: flex;
    align-items: center;
    justify-content: center;
    margin-left: 20px;
    margin-bottom: 20px;
}

